/* index.css */
body {
    margin: 0px;
    background: white;
}

ul {
    list-style: none;
    padding: 0px;
    gap: 20px;
    margin-top: 15px;
}


.headertext,
.header,
.links,
.headerbox1,
.headerboxes {
    display: flex;
    color: white;
    font-family: sans-serif;
}

.headertext,
.biggertext {
    font-weight: bold;
    font-size: 20px;
}

p {
    margin-top: 15px;
}

.header {
    justify-content: space-between;
}

.container1 {
        background-color: #1F2937;
}

.headertext,
.links,
.header2,
.headerboxes,
.container2header {
    margin-right: 60px;
    margin-left: 60px;
}

.headerboxes {
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.biggertext {
    font-size: 35px;
}
.headerbox1 {
    flex-direction: column;
}

.smallertext {
    filter: contrast(0.7);
}

.space {
    margin: 3px;
    padding-right: 30px;
}

.signupbox {
    font-weight: bold;
    background-color: #3882F6;
    width: fit-content;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 15px;
    margin-top: 10px;
}

.signupbox p {
    text-align: center;
}

/* Second BOX */

.container2 {
    color: black;
}

.container2header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
}

.boxrow {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
}

.box1 .empty {
    border: 3px solid blue;
    padding: 50px;
    border-radius: 10px;
}

.box1 {
    flex: 1;
}

.box1 p {
    text-align: center;
    padding-bottom: 40px;
}
